<launch>

<!-- rviz launch -->
 <node type="rviz" name="rviz" pkg="rviz" args="-d $(find moveit_com)/rviz/com.rviz"/> 
<!-- Map File -->
 <arg name="map_file" default="$(find moveit_com)/map/mymap.yaml"/>

 <!-- Map Server -->
  <!-- Publish: /map, /map_metadata -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Add AMCL example for differential drive robots for Localization -->
  <!-- Subscribe: /scan, /tf, /initialpose, /map -->
  <!-- Publish: /amcl_pose, /particlecloud, /tf -->
  <include file="$(find moveit_com)/navigation/amcl/examples/amcl_diff.launch"/>  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find moveit_com)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find moveit_com)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find moveit_com)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find moveit_com)/param/global_costmap_params.yaml" command="load" />
   <rosparam file="$(find moveit_com)/param/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find moveit_com)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find moveit_com)/param/move_base_params.yaml" command="load" />

    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="controller_frequency" value="10.0" />
   
     <param name="base_global_planner" value="navfn/NavfnROS" />
   
   
   
     <!-- not sure whether needed or not. added to avoid in-place rotation-->
    <param name="clearing_roatation_allowed" value="true"/>
   
   
   

  </node>
</launch>